.logo {
    width: 36px;
    margin-right: 4px;
}
.sparc {
    width: 89px;
    height: 20px;
}
Nav{
    font-family: jaf-domus-titling-web;
}
body {
    font-family:  poppins;
}
.nav-link{
    font-weight: bold;
}

